<div class="col-md-6 col-md-offset-3">
  <form name="registrationForm" action="" method="POST" class="form-horizontal" role="form">
      <div class="form-group">
        <legend>Signup Form</legend>
      </div>
      <!-- <pre ng-bind="registrationForm | json"></pre> -->
      
      <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputName" name="name" ng-model="registration.name" placeholder="Name" required>
          <span class="label label-danger" ng-if="registrationForm.name.$invalid && registrationForm.name.$dirty">Required</span>
        </div>
      </div>
      
      <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail" name="email" ng-model="registration.email" placeholder="Email" required>
          <span class="label label-danger" ng-if="registrationForm.email.$error.required && registrationForm.email.$dirty">Required</span>
          <span class="label label-danger" ng-if="registrationForm.email.$error.email && registrationForm.email.$dirty">Invalid Email</span>
        </div>
      </div>
      
      <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword" minlength="8" name="password" ng-model="registration.password" placeholder="Email" required>
          <span class="label label-danger" ng-if="registrationForm.password.$error.required && registrationForm.password.$dirty">Required</span>
          <span class="label label-danger" ng-if="registrationForm.password.$error.minlength && registrationForm.password.$dirty">At least 8 character long</span>
        </div>
      </div>
      
      <div class="form-group">
        <label for="inputConfirmPassword" class="col-sm-2 control-label">Confirm Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputConfirmPassword" name="confirmPassword" ng-model="registration.confirmPassword" placeholder="Confirm Password" required>
          
          <span class="label label-danger" ng-if="registration.confirmPassword !== registration.password">Password miss-match</span>
        </div>
      </div>
      
      <div class="form-group">
        <label for="inputCountry" class="col-sm-2 control-label">Country</label>
        <div class="col-sm-10">
          <select class="form-control" id="inputCountry" name="country" ng-model="registration.country" required>
            <option value="">Select Your Country</option>
            <option ng-repeat="(key, value) in countries" ng-bind="value" value="{{key}}"></option>
          </select>
          <span class="label label-danger" ng-if="registrationForm.country.$invalid && registrationForm.country.$dirty">Required</span>
        </div>
      </div>
      
      <div class="form-group" ng-if="registration.country == 'US'">
        <label for="inputState" class="col-sm-2 control-label">Select States</label>
        <div class="col-sm-10">
          <select class="form-control" id="inputState" name="state" ng-model="registration.state" required>
            <option value="">Select Your State</option>
            <option ng-repeat="(key, value) in USAStates" ng-bind="value.name" ng-value="value.abbreviation"></option>
          </select>
          <span class="label label-danger" ng-if="registrationForm.state.$invalid && registrationForm.state.$dirty">Required</span>
        </div>
      </div>
      
      <div class="form-group">
        <label for="inputSex" class="col-sm-2 control-label">Sex</label>
        <div class="col-sm-10">
          <div class="radio">
            <label>
              <input type="radio" name="sex" ng-model="registration.sex" id="input" value="Male">
              Male
            </label>
            <label>
              <input type="radio" name="sex" ng-model="registration.sex" id="input" value="Female">
              Female
            </label>
          </div>
          <span class="label label-danger" ng-if="registrationForm.state.$invalid && registrationForm.state.$dirty">Required</span>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
  </form>
</div>
